@page "/confirmation"

<div class="text-center">
    <h1 class="text-info pt-4">Obrigado por comprar</h1>
    <p class="pb-3">Você receberá seu pedido em breve!</p>
    <img src="/Imagens/valeu.gif" style="width: 48%" />
</div>